.rootFooter {
 padding: 15px 0;
 background-color: #F8F9FA;
}

ul.footerMenuList {
 margin: 0;
 padding: 0;
 list-style: none;
}

ul.footerMenuList li {
 display: inline-block;
 padding: 0 10px;
 border-right: 1px solid #e6e6ee;
 line-height: 1;
}
ul.footerMenuList li a{
 text-decoration: none;
}


ul.footerMenuList li:last-child {
 padding-right: 0;
 border: none;
}